// COLORS
$color-primary: #12cad6;
$color-secondary: #00b2ff;

// DEFAULT COLOR
$color-default: #444;

$color-white: #fff;

$color-black: #000;
$color-black-light: #333;

$color-danger: #dc3545;

$color-grey-light-1: #f5f5f5;
$color-grey-light-2: #eee;
$color-grey-light-3: #ddd;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #444;
$color-grey-dark-2: #777;
$color-grey-dark-3: #aaa;
